
/*new*/
body {
    font-family: 'Raleway', sans-serif;
    color: #555;
    background: #333;
    margin: 3em;
}

.portfolio {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
/*	grid-template-columns: repeat(3, 100px);*/
/*	grid-template-columns: repeat(3, 1fr);*/
/*	grid-template-columns: repeat(3, minmax(200px, 300px));*/
/*	grid-template-columns: 200px repeat(3, 1fr);*/
/*	grid-template-columns: 200px repeat(3, 1fr) 200px;*/
/*	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));  reduces to 1 column like media query and i1 contines to add invincible colums even when there is no div-item*/
/*	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));does not add extra column to the empty space-it retain the 2 columns but enlarges it*/
	
	
    grid-gap: 1em;
}

.portfolio-title {
    text-align: center;
    color: #00C896;
    grid-column: 1 / -1;
}

img {
    max-width: 100%;
}

.portfolio-card {
    box-shadow: 0 0 1em rgba(0,0,0,.25);
    padding: 1em;
    background: white;
}

.portfolio-card-title {
    font-size: 1.5rem;
    color: #000;
}
